<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{url_for('hello_world')}}">Home</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="{{ url_for('suggest_movie') }}">Recommendations</a></li>
            <li><a href="{{url_for('admin_login')}}">Login</a></li>
        </ul>
    </nav>

    {% block content %}
    
    {% endblock %}
    
    
</body>
</html>
